*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --ff-main: "Barlow Semi Condensed", sans-serif;
  --fw-medium: 500;
  --fw-bold: 600;

  --fs-extra-small: 90%;
  --fs-small: 95%;

  --cm-violet: hsl(263, 55%, 52%);
  --cm-light-violet: hsl(263, 53%, 69%);
  --cm-gray: hsl(217, 19%, 35%);
  --cm-dark-blue: hsl(219, 29%, 14%);
  --cm-white: hsl(0, 0%, 100%);
  --cn-bg-body: hsl(210, 46%, 95%);
  font-size: 13px;
}

body {
  font-family: var(--ff-main);
  font-weight: var(--fw-medium);
  font-size: 100%;
  margin: clamp(0px, 5%, 5em);
  background-color: var(--cn-bg-body);
}

.comments-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5em 0 5em 0;
  max-width: 95em;
}

.card {
  padding: 2.5em;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card-main {
  background: right 2em top no-repeat url(.//images/bg-pattern-quotation.svg);
}

.card-main img {
  border: 2.5px solid var(--cm-light-violet);
  width: 3em;
}

.card__description {
  color: hsla(0, 0%, 100%, 0.706);
}

.card--violet {
  background-color: var(--cm-violet);
  color: var(--cm-white);
}

.card--grey {
  background-color: var(--cm-gray);
  color: var(--cm-white);
}

.card--white {
  background-color: var(--cm-white);
}

.card--white p {
  color: hsl(217, 19%, 35%);
}
.card--white .profile__name {
  color: hsl(219, 29%, 14%);
}

.card--white h2 {
  color: hsl(219, 29%, 14%);
}

.card--dark-blue {
  background-color: var(--cm-dark-blue);
  color: var(--cm-white);
}

.card--dark-blue img {
  border: 2.5px solid var(--cm-violet);
  width: 3em;
}

.profile__picture {
  border-radius: 50%;
  width: 2.6em;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.5em;
  font-size: var(--fs-extra-small);
}

.profile__name {
  font-weight: var(--fw-bold);
}

.profile__status {
  color: hsla(0, 0%, 100%, 0.505);
}

@media (min-width: 900px) {
  body {
    margin: clamp(0px, 5%, 5em);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .comments-grid {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .card-main {
    grid-column: 1 /3;
  }

  .card--dark-blue {
    grid-column: 2 /4;
  }

  .card--aside {
    grid-column: 1 / 4;
  }
}
@media (min-width: 1350px) {
  body {
    margin: 0;
  }
  .comments-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .card-main {
    grid-column: 1 /3;
    background-position: right 6em top;
  }

  .card--aside {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }

  .card--dark-blue {
    grid-column: 2 /4;
  }
}
